{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

</head>
<body>
{% block body %}
<div class="container">
    <div class="row mx-5 justify-content-around text-center">
        <div class="col-12">
            <h3 class="display-5 py-2">Products</h3>

            <div class="list-group py-2 text-center">
                {% for product in product_list %}

                    <a style="font-size: 28px" href="{% url 'inventory:productdetail' forloop.counter %}" class="list-group-item list-group-item-action py-2" aria-current="true">
                        {{ product }}
                    </a>

                {% endfor %}
                    <h4 style="font-size: 32px" class="list-group-item list-group-item-action py-3"><a href="{% url 'inventory:productcreate' %}">Add a new product!</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
</body>
</html>