{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Invoices{% endblock %}</title>
</head>
<body>
    {% block body %}
        <div class="container">
            <div class="row mx-5 justify-content-between text-center">
                <div class="col-12">

                    <h1 class="display-1"><a href="{% url 'invoices:invoice-create' %}">Create New Invoice</a> </h1>
                    <hr>
                    <h3 class="display-3">Invoices</h3>
                    <hr>

                    {% if invoice_list|length == 0 %}
                        <h4>No invoices yet!</h4>
                    {% endif %}

                    {% for invoice in invoice_list %}
                        <p><a href="{% url 'invoices:invoice-detail' invoice.id %}">{{ invoice }}</a> : {{ invoice.date }}</p>
                    {% endfor %}

                </div>
            </div>
        </div>


    {% endblock body %}
</body>
</html>