{% extends "base.html" %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block body %}



<div class="container">
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'invoices:invoice-home' %}">Go Back</a>
        </div>
    </div>
    <div class="row text-center my-2">
        <div class="col">
            <h1 class="display-3">{{ invoice }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Sell Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for thing in invoice.item_set.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ thing }}</td>
                    <td>{{ thing.product.cost|intcomma }}</td>
                    <td>{{ thing.product.sale_price|intcomma }}</td>
                    <td>{{ thing.quantity }}</td>
                    <td>{{ thing.total|intcomma }}</td>
                </tr>
                {% endfor %}
                <tf>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Invoice Total</td>
                    <td>{{ invoice.total|intcomma }}</td>
                </tf>




                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock body %}

</body>
</html>