{%  extends "base.html" %}
{% load crispy_forms_filters %}

{%  block title %}Create Invoice{%  endblock title %}

{% block head %}
    <script>
        $( function() {
            $( "#id_date" ).datepicker({ dateFormat: 'mm-dd-yy' });
        } );
    </script>
{% endblock head %}

{% block body %}
    <div class="container">

        <div class="row text-center my-2">
            <div class="col">
                <h1 class="display-3">Create a new Invoice</h1>
            </div>
        </div>

        <div class="row align-self-center justify-content-center text-center">
            <div class="col-12 my-3">
                <form method="post">{% csrf_token %}
                    <br>
                    <input class="my-3" id="id_date" name="date"
                           value="Invoice Date"
                           min="01-01-2018" max="12-31-2030">
                    <br>

                    {%  for form in formset %}
                        {{ form.product }}
                        {{ form.quantity }}
                        <br>
                    {% endfor %}

                    <hr>
                    <input label="Quantity" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}