{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Dashboard</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
{% block body %}
    {% block graphbutton %}
    <div class="container">
        <div class="row text-center my-3">
            <div class="col-12">
                <h1>Your business trends at a glance</h1>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle my-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Change Graph
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'dashboard:index' %}">Sales Line Graph</a></li>
                        <li><a class="dropdown-item" href="{% url 'dashboard:pie' %}">Profit Pie Chart</a></li>
                        <li><a class="dropdown-item" href="#">Another Graph of some sort</a></li>
                    </ul>
                </div>
                <hr>
                {% block graph %}
                {% include "Dashboard/GraphSnippets/graph.html" %}
                {% endblock graph %}

                <a href="{% url 'inventory:productlist' %}">View Your Products</a>
            </div>
        </div>
    </div>
    {% endblock graphbutton %}
{% endblock body %}
</body>
</html>