{% extends "base.html" %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Sales Dashboard</title>
        {% block head %}

            {# Date picker/jQuery CDN #}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

            <script>
                $(function () {
                    $("#id_start_date").datepicker({
                        format:'mm/dd/yyyy',
                    });
                });
                $(function () {
                    $("#id_end_date").datepicker({
                        format:'mm/dd/yyyy',
                    });
                });
            </script>

        {% endblock head %}
    </head>

<body>

{% block body %}
    {% block graphbutton %}

    <div class="container">

        <div class="row text-center my-3">

            <div class="col-12">
                <h1>Your business trends at a glance</h1>

                {# Dropdown links for changing graph type to display #}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle my-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Change Graph
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'dashboard:index' %}">Sales Line Graph</a></li>
                        <li><a class="dropdown-item" href="{% url 'dashboard:pie' %}">Profit Pie Chart</a></li>
                        <li><a class="dropdown-item" href="#">Another Graph of some sort</a></li>
                    </ul>
                </div>

                {# Form class with date pickers for start and end date #}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>

                <hr>

                {# Block for inserting html graph snippet #}
                {% block graph %}
                    {% include "Dashboard/GraphSnippets/graph.html" %}
                {% endblock graph %}

                <a href="{% url 'inventory:productlist' %}">View Your Products</a>

            </div>
        </div>
    </div>

    {% endblock graphbutton %}
{% endblock body %}

</body>

</html>